nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
}

.nav-right-menu {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

main {
  width: 85%;
  margin: 0 auto;
}

.first-section {
  display: -webkit-box;
  display: flex;
}

.sec-left {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.sec-right {
  width: 50%;
  height: 100%;
}

.sec-right img {
  max-width: 600px;
  max-height: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  color: red;
}

