nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 20px;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
}

.nav-right-menu {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

main {
  width: 85%;
  margin: 0 auto;
}

.first-section {
  display: -webkit-box;
  display: flex;
  margin-top: 100px;
}

.sec-left {
  width: 50%;
  height: 100%;
}

.sec-left h2,
.sec-left h4,
.sec-left div {
  margin-bottom: 20px;
}

.sec-right {
  width: 50%;
  height: 100%;
}

.sec-right img {
  max-width: 600px;
  max-height: 500px;
}

.middle-section {
  margin-top: 100px;
  background-color: #FFE7D2;
}

.middle-section h4 {
  text-align: center;
}

.middle-section img {
  margin: 0 auto;
  width: 500px;
  max-height: 500px;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 20px;
}

.container img {
  max-width: 200px;
  max-height: 150px;
}

.screen-section {
  margin-top: 100px;
  display: -webkit-box;
  display: flex;
}

.screen-sec-img img {
  max-width: 800px;
  max-height: 700px;
}

.screen-sec-text {
  margin-left: 40px;
}

.screen-sec-text img {
  max-width: 250px;
  max-height: 250px;
}

.screen-sec-text h4,
.screen-sec-text p,
.screen-sec-text a {
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

