nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 20px;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
}

.nav-right-menu {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

main {
  width: 85%;
  margin: 0 auto;
}

.first-section {
  display: -webkit-box;
  display: flex;
  margin-top: 100px;
}

.sec-left {
  width: 50%;
  height: 100%;
}

.sec-left h2,
.sec-left h4,
.sec-left div {
  margin-bottom: 20px;
}

.sec-right {
  width: 50%;
  height: 100%;
}

.sec-right img {
  max-width: 600px;
  max-height: 500px;
}

.second-section {
  margin-top: 100px;
  background-color: #FFE7D2;
}

.second-section h4 {
  text-align: center;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 20px;
}

.container img {
  max-width: 200px;
  max-height: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  color: red;
}

