footer {
    padding: 40px 0;

    .wrapper {
        @include flex;
    }

    .micro-container {
        @include flex;
    }

    .footer-menu {
        @include flex;

        .footer-single-menu {
            @include flex-vertical;
            margin-right: 40px;

            li {
                margin-top: 10px;
            }
        }

    }
}