header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

nav {
    @include flex;
    // margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    width: 75%;
    margin: 20px auto;
}

.nav-left {
    width: 50%;
}

.nav-right {
    width: 50%;
}

.nav-right-menu {
    @include flex-around;
    font-weight: bold;

    li:last-child {
        border: 1px solid black;
        display: block;
        padding: 9px;
        border-radius: 8%;

        &:hover {
            background-color: rgb(20, 20, 90);
            color: #fff;
        }
    }

    span {
        margin-right: 5px;
    }
}