main {
    width: 85%;
    margin: 0 auto;
}

.first-section {
    display: flex;
    margin-top: 100px;
}

.sec-left {
    width: 50%;
    height: 100%;

    h2, h4, div {
        margin-bottom: 20px;
    }
}

.sec-right {
    width: 50%;
    height: 100%;

    img {
        max-width: 600px;
        max-height: 500px;
    }
}


.middle-section {
    margin-top: 100px;
    background-color: $main-bg;

    h4 {
        text-align: center;
    }
    img {
        margin: 0 auto;
        width: 500px;
        max-height: 500px;
    }
}

.container {
    @include flex;
    margin-top: 20px;

    img {
        max-width: 200px;
        max-height: 150px;
    }
}