main {
    width: 85%;
    margin: 0 auto;
}

.first-section {
    display: flex;
    margin-top: 100px;
}

.sec-left {
    width: 50%;
    height: 100%;

    h2,
    h4,
    div {
        margin-bottom: 20px;
    }
}

.sec-right {
    width: 50%;
    height: 100%;

    img {
        max-width: 600px;
        max-height: 500px;
    }
}


.middle-section {
    margin-top: 100px;
    background-color: $main-bg;

    h4 {
        text-align: center;
    }

    img {
        margin: 0 auto;
        width: 500px;
        max-height: 500px;
    }
}

.container {
    @include flex;
    margin-top: 20px;

    img {
        max-width: 200px;
        max-height: 150px;
    }
}

.screen-section {
    margin-top: 100px;
    display: flex;
}

.screen-sec-img {

    img {
        max-width: 800px;
        max-height: 700px;
    }
}

.screen-sec-text {
    margin-left: 40px;

    img {
        max-width: 250px;
        max-height: 250px;
    }

    h4,
    p,
    a {
        margin-bottom: 20px;

    }
}

.mission-section {
    padding-top: 50px;
    background-color: $main-bg;
    text-align: center;

    .squared {
        background-color: #fff;
        max-width: 700px;
        // height: 450px;
        margin: 20px auto;

        p {
            margin: 15px auto;
            text-align: left;
        }
    }
}

footer {
    padding-top: 40px;

    .wrapper {
        @include flex;
    }

    .micro-container {
        @include flex;
    }

    .footer-menu {
        @include flex;

        .footer-single-menu {
            @include flex-vertical;
            margin-right: 40px;

            li {
                margin-top: 10px;
            }
        }

    }
}