@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

@mixin button {
    margin-right: 20px;
    border: 1px solid black;
    padding: 9px;
    border-radius: 25px;
    color: #fff;
    background-color: rgb(15, 15, 99);
}