@import 'variables';
@import 'common';
@import 'header';
@import 'main';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color: red;
}